# =========================
# macOS
# =========================
.DS_Store
**/.DS_Store
*~
*.swp

# =========================
# Xcode
# =========================
build/
Build/
DerivedData/
*.modulemap
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# =========================
# Swift Package Manager
# =========================
.swiftpm/xcode/
.build/
Packages/

# =========================
# CocoaPods
# =========================
Pods/
# O Podfile.lock deve ser comitado sempre
!Podfile.lock

# =========================
# Fastlane 
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# =========================
# Outros Módulos / Ferramentas
# =========================
# Tuist
Tuist/Derived/
.tuist-bin/

# Carthage
Carthage/Build/

# Arquivos de crash e logs
*.crash
*.log